<div id="lists">
  <ul id="unarchived-items" class="list-items">
    <% for item in list.items %>
      <% if not item.archived? %>
      <li id="item_<%= item.id -%>">
        <%= render :partial => "items/item_and_form", :locals => { :item => item } %>
      </li>
      <% end %>
    <% end %>
  </ul>

  <ul id="archived-items" class="list-items">
    <% for item in list.items %>
      <% if item.archived? %>
      <li id="item_<%= item.id -%>">
        <%= render :partial => "items/item_and_form", :locals => { :item => item } %>
      </li>
      <% end %>
    <% end %>  
  </ul>
  
  <script>

    $('#unarchived-items').sortable({
  	    axis: 'y',
  	    dropOnEmpty: false,
  	    cursor: 'hand',
  	    items: 'li',
  	    opacity: 0.4,
  	    scroll: true,
  	    update: function() {
  	        $.ajax({
  	            type: 'post',
  	            data: $('#unarchived-items').sortable('serialize') + '&id=<%=@list.id-%>',
  	            dataType: 'script',
  	            url: '/lists/prioritize_items'
  	        })
  	    }
  	});

  	$('#archived-items').sortable({
    	    axis: 'y',
    	    dropOnEmpty: false,
    	    cursor: 'hand',
    	    items: 'li',
    	    opacity: 0.4,
    	    scroll: true,
    	    update: function() {
    	        $.ajax({
    	            type: 'post',
    	            data: $('#archived-items').sortable('serialize') + '&id=<%=@list.id-%>',
    	            dataType: 'script',
    	            url: '/lists/prioritize_items'
    	        })
    	    }
    	});
  </script>
  
</div>