<% content_for :head do %>
  <%= javascript_include_tag "jquery-ui-1.8.2.custom.min.js" %>
<% end %>

<h3 id="page-title"><%= @list.title %></h3>
<%= render :partial => "shared/errors", :object => @item.errors %>

<% form_for @item, :html => {:id => 'item-form'} do |f| -%>
  <%= f.text_field :title, :class => "focus" %>
  <%= f.hidden_field :list_id, :value => @list.id %>
  <%= f.submit "Add" %>
<% end -%>

<ul id="list-items">
<% for item in @list.items %>
  <li id="item_<%= item.id -%>">
    <%= render :partial => "items/item_and_form", :locals => { :item => item } %>
  </li>
<% end %>
</ul>

<script>

$('#list-items').sortable(
	{
	    axis: 'y',
	    dropOnEmpty: false,
	    cursor: 'hand',
	    items: 'li',
	    opacity: 0.4,
	    scroll: true,
	    update: function() {
	        $.ajax({
	            type: 'post',
	            data: $('#list-items').sortable('serialize') + '&id=<%=@list.id-%>',
	            dataType: 'script',
	            url: '/lists/prioritize_items'
	        })
	    }
	});
</script>