<h3 id="page-title"><%= @list.title %></h3>
<%= render :partial => "shared/errors", :object => @item.errors %>

<% form_for @item, :html => {:id => 'item-form'} do |f| -%>
  <%= f.text_field :title %>
  <%= f.hidden_field :list_id, :value => @list.id %>
  <%= f.submit "Go" %>
<% end -%>

<ul id="list-items">
<% for item in @list.items %>
  <li class="item-view" id="<%=item.id%>-view">
    <%= render :partial => "items/item", :locals => { :item => item } %>
  </li>
  <li class="item-edit" id="<%=item.id%>-edit" style="display:none;">
    <%= render :partial => "items/form", :locals => { :item => item } %>
  </li>
<% end %>
</ul>