<% content_for :head do %>
  <%= javascript_include_tag "jquery-ui-1.8.2.custom.min.js" %>
<% end %>

<h3 id="page-title"><%= @list.title %></h3>
<%= render :partial => "shared/errors", :object => @item.errors %>

<% form_for @item, :html => {:id => 'item-form'} do |f| -%>
  <%= f.text_field :title, :class => "focus" %>
  <%= f.hidden_field :list_id, :value => @list.id %>
  <%= f.submit "Add" %>
<% end -%>
<%= render :partial => "list", :locals => { :list => @list } %>