<% if @item.errors.any? %>  

	$("#item-form").before('<%= escape_javascript(render(:partial => "shared/errors", :locals => {:errors => @item.errors})) %>');
	<% flash.delete(:notice) %>
	
<% else %>

	$("#item-form").before('<div class="notice flash"><%= escape_javascript(flash.delete(:notice)) %></div>');
	$("#list-items").append('<li class="item-view" id="<%=@item.id%>-view"><%= escape_javascript(render(:partial => @item)) %></li>');
	$("#list-items").append('<li class="item-edit" id="<%=@item.id%>-edit" style="display:none"><%= escape_javascript(render(:partial => "items/form", :locals => {:item => @item})) %></li>');
	$("#item-form")[0].reset();
	$("#<%=@item.id%>-view").editInPlace();
	$(".edit_item").submitWithAjax();

<% end %>2	