<% if @item.errors.any? %>  

	$("#item-form").before('<%= escape_javascript(render(:partial => "shared/errors", :locals => {:errors => @item.errors})) %>');
	<% flash.delete(:notice) %>
	
<% else %>

	$("#item-form").before('<div class="notice flash"><%= escape_javascript(flash.delete(:notice)) %></div>');
	$("#list-items").append('<li id="item_<%= @item.id -%>"><%= escape_javascript(render(:partial => "items/item_and_form", :locals => {:item => @item})) %></li>');
	$("#item-form")[0].reset();
	$("#<%=@item.id%>-view").editInPlace();
	$(".edit_item").submitWithAjax();

<% end %>2	