<% if @item.errors.any? %>  

	$("#item-form").before('<div class="error flash"><h2>Please Try Again!</h2><ul><% @item.errors.full_messages.each do |msg| %><li><%= escape_javascript(msg) %></li><% end %></ul></div>');
	<% flash.delete(:notice) %>
	
<% else %>

	$("#item-form").before('<div class="notice flash"><%= escape_javascript(flash.delete(:notice)) %></div>');
	$("#list-items").append('<li class="item-view" id="<%=@item.id%>-view"><%= escape_javascript(render(:partial => @item)) %></li>');
	$("#item-form")[0].reset();
	$("<%=@item.id%>-view").editInPlace();

<% end %>