<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Lists</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<%= stylesheet_link_tag 'base' %>
<%= stylesheet_link_tag 'layout' %>
<%= stylesheet_link_tag 'store' %>

<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="MSSmartTagsPreventParsing" content="TRUE" />
<meta http-equiv="expires" content="-1" />
<meta http-equiv= "pragma" content="no-cache" />
<meta name="robots" content="all" />
<meta name="description" content="LISTS!" />

  <%= javascript_include_tag "prototype" %>

<script type="text/javascript">
	<%= @content_for_page_scripts %>
</script>

</head>
<body>

<div id="content">
<div class="title-container">
	<a href="/" title="LISTS!">
		
	</a>
	</div>
	<div id="navColumn">
		<h3><%= link_to 'Home', :controller => 'lists' %></h3>
		<ul>
			<li>
			
			</li>
		</ul>
	</div>

	<div id="contentColumn">
	<%- if flash[:notice] -%>
	<p class="notice"><%= flash[:notice] %></p>
	<%- end -%>
	<%- if flash[:error] -%>
	<p class="error"><%= flash[:error] %><%= flash[:alert] %></p>
	<%- end -%>
	
		<%= yield  %>		
	</div>
	<div style="clear:both"></div>
	<div class="footer">
     <%= link_to 'Admin', :controller => "admin" %> | Copyright &copy; 2010 LISTS!. 
  </div>
</div>

<%- if "production" == RAILS_ENV -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-99999999999999-99");
pageTracker._trackPageview();
} catch(err) {}</script>
<%- end -%>

</body>
</html>